* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    background-color: #fff;
}

.container {
    width: 450px;
    height: 90%;
    background-color: #E2F0D9;
    border-radius: 2px;
    overflow: hidden;
}


.header {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.body input {
    margin-right: 20px;
    border: 1px solid #ccc;
    height: 42px;
    padding: 10px;
}

.name-city {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.body button {
    padding: 10px 20px;
    font-size: 20px;
    width: 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info #text-temp {
    font-size: 30px;
}
